@{
    ViewData["Title"] = @localizer["Contact"];
}

<div class="card-deck">
    <div class="card bg-light">
        <div class="py-4 mt-5 text-center"><i class="fa-sharp fa-solid fa-phone fa-2x"></i></div>
        <div class="card-body text-center">
            <p class="my-5">@localizer["ContactPhoneNumber"]</p>
            <p class="card-title my-5">@localizer["ContactCallUs"]</p>
        </div>
    </div>
    <div class="card bg-light">
        <div class="py-4 mt-5 text-center"><i class="fa-sharp fa-solid fa-envelope fa-2x"></i></div>
        <div class="card-body text-center">
            <p class="card-text my-5">@localizer["ContactEmail"]</p>
        </div>
    </div>
    <div class="card bg-light">
        <div class="py-4 mt-5 text-center"><i class="fa-sharp fa-solid fa-location-dot fa-2x"></i></div>
        <div class="card-body  text-center">
            <p class="card-text my-5"> @localizer["ContactAddress"] </p>
        </div>
    </div>
</div>
